.navbar .navbar-nav .nav-item .nav-link
{

  color: #333;
  font-size: 25px;
 
  justify-content: space-between;
 
}
.navbar .navbar-brand
{
  color: white;
  font-size: 30px;
  margin-right: 20px;
  
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    
  color: yellow 
    ;
    
  


}